<div ng-controller="regController" class="registration">

    <div class="tab-bar tab-bar--top tab-bar--material">
        <label class="tab-bar__item tab-bar--material__item">
            <input type="radio" name="tab-bar-material-a" checked disabled>
            <button class="tab-bar__button tab-bar--material__button">
                Profile
            </button>
        </label>

        <label class="tab-bar__item tab-bar--material__item">
            <input type="radio" name="tab-bar-material-a" disabled>
            <button class="tab-bar__button tab-bar--material__button">
                Preferences
            </button>
        </label>

    </div>

    <ons-carousel fullscreen var="carousel" style="margin-top:100px;">
        <ons-carousel-item style="overflow:auto;">
            <div class="profileBackground">
                <div>
                    <span class="title">User Info</span>

                    <button class="button button--material pull-right done" ng-click="done()" ng-disabled="!userInfo.name || !userInfo.email || !userInfo.company || !userInfo.role">DONE <i class="icon ion-arrow-right-c"></i></button>
                    <div style="clear:both;"></div>
                </div>
                <iframe id="iframe" name="my_iframe"></iframe>
                <form class="form" id="userform" target="my_iframe" enctype="multipart/form-data" method="post" action="http://www.emailmeform.com/builder/form/5da2a3nRWHrVbB81Yz">

                    <div class="entry">
                        <input id="element_0" name="element_0" class="text-input--material profileInput" placeholder="Name" ng-model="userInfo.name" type="text">
                    </div>
                    <div class="entry">
                        <input id="element_1" name="element_1" class="text-input--material profileInput" placeholder="Email" ng-model="userInfo.email" type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                    </div>
                    <div class="entry">
                        <input id="element_2" name="element_2" class="text-input--material profileInput" placeholder="Company" ng-model="userInfo.company" type="text">
                    </div>
                    <div class="entry">
                        <input id="element_3" name="element_3" class="text-input--material profileInput" placeholder="Role" ng-model="userInfo.role" type="text">
                    </div>
                    <input name="element_counts" value="4" type="hidden" />
                    <input name="embed" value="forms" type="hidden" />
                </form>


            </div>
        </ons-carousel-item>
        <ons-carousel-item style="overflow:auto;">
            <div class="profileBackground">
                <div>
                    <button class="button button--material done" ng-click="back()"><i class="icon ion-arrow-left-c"></i> BACK</button>
                    <span class="title pull-right">Product Preferences</span>
                    <div style="clear:both;"></div>
                </div>
                <div class="form">
                    <div class="product" ng-repeat="p in masterObj">
                        <div class="productTitle">
                            <span class="productTitleSpan" ng-click="showTitle(p)">{{p.fullName}}</span>
                            <label class="checkbox checkbox--material pull-right">
                                <input type="checkbox" class="checkbox__input checkbox--material__input" ng-checked="p.checked" ng-click="pChecker(p)">
                                <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                            </label>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="productInfo" ng-show="p.showProd">
                            <div class="versions">Versions</div>
                            <div class="versionsList" ng-repeat="v in p.versions">
                                <div class="versionHeader">
                                    <label class="checkbox checkbox--material">
                                        <input type="checkbox" class="checkbox__input checkbox--material__input" ng-checked="v.checked" ng-click="vChecker(v)">
                                        <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                                        {{v.fullName}}
                                    </label>
                                </div>
                                <div class="languages" ng-show="v.checked">
                                    <div class="langHeader">Languages</div>
                                    <div class="langs">
                                        <div class="eachLang" ng-repeat="l in v.languages">
                                            <label class="checkbox checkbox--material">
                                                <input type="checkbox" class="checkbox__input checkbox--material__input" ng-checked="l.checked" ng-click="l.checked=!l.checked">
                                                <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                                                {{l.langName}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="doneButtons">
                    <button class="button button--material done pull-right" ng-disabled="watcher!=true" ng-click="update(masterObj)"><i class="icon ion-checkmark-round"></i> DONE</button>
                    <button class="button button--material done pull-right" style="background:#f44336" ng-click="clear(masterObj)"><i class="icon ion-ios-loop-strong"></i> RESET</button>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </ons-carousel-item>

    </ons-carousel>
</div>